<div class="card" style="width: 25rem;">
    <div class="card-body">
        <form [formGroup]="imgForm" (submit)="onSubmit(imgForm.value)">
            <img style="width: 100%;height: 280px !important;" [src]="imgSrc" alt="img" (click)="fileUploader.click()">
            <div class="form-group">
                <label>Select file to upload</label>
                <input type="file" accept="image/*" class="form-control" formControlName="imgUrl" #fileUploader
                    (change)="showPreview($event)">
                <div *ngIf="this.imgForm.controls.imgUrl.errors && this.imgForm.controls.imgUrl.touched"
                    class="text-danger">This field is mandatory</div>
            </div>
            <div class="form-group">
                <label>Caption</label>
                <input type="text" class="form-control" formControlName="caption" placeholder="Caption">
                <div *ngIf="this.imgForm.controls.caption.errors && this.imgForm.controls.caption.touched"
                    class="text-danger">This field is mandatory</div>

            </div>
            <div class="form-group">
                <label>Category</label>
                <select class="form-control" placeholder="Category" formControlName="category">
                    <option value="bird">Bird</option>
                    <option value="animal">Animal</option>
                    <option value="vehicle">Vehicle</option>
                </select>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <button routerLink="/image/list" class="btn btn-primary btn-block float-right">Go to Gallery</button>
                </div>
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-block btn-success float-right">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>